<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename='table.css')}}">
    <title>Approval or Denial of Requests</title>
</head>
<body>
    <h1>Pending Reimbursement Requests for Approval</h1>

    <table class="styled-table">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Description</th>
            <th>Amount</th>
            <th>Expense Type</th>
            <th>Status</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            {% for item in data %}
                <tr>
                    <td>{{item[0]}}</td>
                    <td>{{item[1]}}</td>
                    <td>{{item[2]}}</td>
                    <td>{{item[3]}}</td>
                    <td>{{item[4]}}</td>
                    <td>{{item[5]}}</td>
                    <td>
                        <form action="/approval", method="POST">
                            <input type="hidden" name="approve" value="{{item[6]}}">
                            <button type ="submit" id="approve{{item[6]}}">Approve</button>
                        </form>
                    </td>
                    <td>
                        <form action="/approval", method="POST">
                            <input type="hidden" name="reject" value="{{item[6]}}">
                            <button type ="submit" id="reject{{item[6]}}">Reject</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>

        </tfoot>
    </table>
    
    <!-- Show pending reimbursement requests. Managers must be unable to do their own.-->

    <input type="button" value="Back" id = "approval_back" onclick="location.href='/account';">
</body>
</html>