<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename='history.css')}}">
    <title>Request History</title>
</head>
<body>
    <h1>Request History</h1>

    <!-- View Current and Previous Requests.
         With option of canceling current requests.
         Statistics of requests. -->
    <table class = "styled-table">
        <thead>
        <tr>
            <th>Description</th>
            <th>Amount</th>
            <th>Expense Type</th>
            <th>Status</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            {% for item in history %}
                <tr>
                    <td>{{item[2]}}</td>
                    <td>{{item[3]}}</td>
                    <td>{{item[4]}}</td>
                    <td>{{item[5]}}</td>
                    {% if item[5] == 'Pending' %}
                    <td>
                        <form action="/history", method="POST">
                            <input type="hidden" name="cancel" value="{{item[0]}}">
                            <button type ="submit" id = "cancel{{item[0]}}">Cancel</button>
                        </form>
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table><br>

    <table class = "styled-table">
        <thead>
        <tr>
            <th>Requests</th>
            <th>Pending</th>
            <th>Approved</th>
            <th>Rejected</th>
            <th>Cancelled</th>
        </tr>
        </thead>
        <tbody>
            {% for stat in stats %}
                <tr>
                    <td>{{stat[0]}}</td>
                    <td>{{stat[1]}}</td>
                    <td>{{stat[2]}}</td>
                    <td>{{stat[3]}}</td>
                    <td>{{stat[4]}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>



    <input type="button" value="Back" id="history_back" onclick="location.href='/account';">

</body>
</html>